body {
  font-family: 'Montserrat', sans-serif;
}

button {
  outline: 0;
  background: transparent;
}

#fixed-frame {
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

img[src='Error.src']{
  display: none;
}

@media (max-width: 768px) {
  .player-tags {
    display: none;
  }
}

#home-wrapper.show {
  display: block;
}
#home-wrapper {
  display: none;
  #home-page {
    background: #eee;
    right: 0px;
    margin-top: 110px;
    height: 100%;
    position: fixed;
    z-index: 1;
  }
}
