body {
  background: url('https://s3-us-west-2.amazonaws.com/soundcloud-client/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  #side-nav {
    position: fixed;
    width: 110px;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #333;
  }
  button {
    border:none;
    background: rgba(0,0,0,0.5);
    color: white;
    margin: 5px;
  }
}
