#soundcloud_widget {
  // display:none;
  position: absolute;
  left: -99999px;
}

#player-wrapper.close {
  display: none;
}
#player-wrapper {
  background: #eee;
  float: right;
  height: 110px;
  position: absolute;
  width: 100%;
  z-index: 2;
  .player{
    position: absolute;
    top: 0px;
    width: 100%;

    .player-image {
      float: left;
      width: 110px;
      img {
        width: 100%;
      }
    }
    .player-box {
      float: left;
      p {
        marign: 0px;
      }
      h1{
        marign: 0px;
      }
      .player-info {
        float: left;
        padding: 0px 25px;
        width: 65%;

        .progress-container {
          width: 100%;
          border-bottom: 1px solid rgba(0,0,0,0.3);
          .progress{
            background: #444;
            height: 12px;
          }
        }
      }
      .player-tags {
        float: left;
        width: 30%;
      }
    }
  }
}
