#soundcloud_widget {
  // display:none;
  position: absolute;
  left: -99999px;
}

#player-wrapper.close {
  display: none;
}
#player-wrapper {
  background: #fff;
  float: right;
  height: 110px;
  position: absolute;
  width: 100%;
  z-index: 2;
  .player{
    position: absolute;
    top: 0px;
    width: 100%;

    .player-image {
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px -1px 7px #000;
      position: absolute;
      width: 200px;
      margin: -50px auto;
      left: 0px;
      right: 0px;
      padding: 2px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .player-box {
      float: left;
      width: 100%;
      p {
        marign: 0px;
      }
      h1{
        marign: 0px;
      }
      .player-info {
        float: left;
        width: 75%;
        button {
          border: none;
          background-color: transparent;
          color: #aaa;
          padding: 0px;
          &:hover {
            color: #999;
          }
        }
        .player-actions {
          float: left;
          width: 54px;
          background: #333;
          button {
            font-size: 53px;
            &:first-child{
              border-bottom: 1px solid #fff;
            }
          }
          .lnr {
            font-size: 25px;
          }
        }
        .player-details {
          float: left;
          width: 45%;
          h3 {
            color: #999;
            cursor: pointer;
            font-size: 30px;
            margin: 0px;
            text-align: center;
            width: 100%;
            &:hover {
              text-decoration: underline;
            }
          }
          h4 {
            color: #888;
            margin: 20px 0px 0px;
            text-align: center;
          }
        }
        .playlist-controls {
          float: left;
          padding: 14px 0px 0px 20px;
          width: 45%;
          .player-seek {
            width: 100%;
            button {
              font-size: 45px;
              margin: 0px;
            }
            button#toggle {
              background: #555;
              border: 2px solid;
              border-radius: 50%;
              font-size: 50px;
              height: 59px;
              margin: 0px 83px;
              position: relative;
              transform: translateY(7px);
              width: 59px;
              .icon-play {
                position: absolute;
                left: 6px;
                top: 0px;
              }
              .icon-pause {
                position: absolute;
                left: 4px;
                top: 2px;
              }
            }
          }
        }
      }
      .player-tags {
        float: left;
        width: 18%;
        h3 {
          border-bottom: 2px solid #ddd;
          color: #aaa;
          margin: 0px;
          line-height: 25px;
          text-align: center;
        }
        .player-tag-buttons {
          width: 100%;
          height: 67px;
          overflow: scroll;
          button {
            border: none;
            background: #ddd;
            color: #999;
            cursor: pointer;
            border-radius: 2px;
            margin: 2px 3px;
            &:hover {
              background: #cfcfcf;
            }
          }
        }
      }
      .player-volume {
        float: left;
        width: 2%;
        padding-left: 65px;
        #volume-container{
          background: #111;
          right: 0px;
          height: 110px;
          width: 30px;
          position: absolute;
          #volume-bar {
            background: #555;
            height: 80%;
            bottom: 0px;
            position: absolute;
            width: 30px;
          }
        }
        button {
          color: #ccc;
          float: left;
          font-size: 23px;
          margin: 5px 0px 40px 0px;
          z-index: 9;
          border: none;
          position: relative;
        }
      }
    }
    #progress-container {
      top: 0px;
      position: absolute;
      width: 100%;
      .progress{
        background: #999;
        height: 3px;
      }
    }
  }
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
.record-spin{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
