#fixed-frame {
  position: fixed;
  top: 0px;
  left: 0px;
}

#side-nav {
  background: #444;
  position: fixed;
  width: 110px;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1;
  #image-placeholder {
    img {
      width: 100%;
    }
  }
  .side-nav-link {
    color: #ccc;
    cursor: pointer;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    height: 38px;
    padding: 0px 5px;
    text-transform: uppercase;
    width: 100%;
    &:hover {
      background: #888;
    }
    i.side-nav-icon {
      color: #ccc;
      float: left;
      font-size: 20px;
      margin: 7px 5px 0px 0px;
    }
    p {
      float: left;
      margin: 11px 0px 0px 0px;
    }
  }
  .active-side-nav-button {
    background: #eee;
    color: #333;
    border-right: 0px;
    &:hover {
      background: #eee;
      color: #333;
    }
    i.side-nav-icon {
      color: #333;
    }
  }
  #favorites-wrapper.close, #playlist-wrapper.close {
    display:none;
  }
  #favorites-wrapper, #playlist-wrapper {
    background-color: #eee;
    border-bottom-right-radius: 10px;
    left: 110px;
    padding: 5px 10px 0px 10px;
    position: absolute;
    top: 110px;
    width: 300px;
    z-index: 1;
    .favorite-close-button, .playlist-close-button {
      cursor: pointer;
      height: 35px;
      width: 100%;
      i {
        color: #777;
        float: right;
        font-size: 26px;
        &:hover {
          color: #ccc;
        }
      }
    }
    .playlist.remove_playlist {
      display: none;
    }
    .favorite, .playlist {
      margin-bottom: 30px;
      .favorite-title, .playlist-title {
        position: relative;
        button{
          border: 2px solid #aaa;
          border-radius: 4px;
          color: #999;
          float: left;
          font-size: 10px;
          padding: 3px 6px 2px;
          text-transform: uppercase;
          width: 25%;
          &:hover {
            border: 2px solid #ccc;
            color: #444;
          }
          i {
            margin-left: 2px;
          }
        }
        .header-container {
          float: left;
          width: 75%;
          .header-line {
            background-color: #aaa;
            height: 2px;
            margin: 0px;
            width: 98%;
          }
          h3 {
            color: #777;
            float: left;
            font-size: 24px;
            line-height: 26px;
            margin: 0px;
            padding: 0px 0px 6px;
          }
        }
      }
      .favorite-title .header-container {width:103%;}
      .favorite-track-wrapper.remove_track, .playlist-track-wrapper.remove_track{
        display:none;
      }
      .favorite-track-wrapper, .playlist-track-wrapper{
        display:block;
        height: 60px;
        .track {
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          cursor: pointer;
          float: left;
          height: 43px;
          margin: 0px 0px 10px 0px;
          padding: 0px 5px 0px 0px;
          width: 90%;
          &:hover {
            background: #ddd;
          }
          .track-image {
            float: left;
            width: 20%;
            margin-right: 2%;
            img {
              width: 88%;
            }
          }

          .track-info {
            float: left;
            width: 78%;
            p.title {
              color: #666;
              font-size: 12px;
              padding: 5px 0px 0px;
            }
            p.author {
              color: #aaa;
              font-size: 16px;
              letter-spacing: 1px;
              line-height: 20px;
              padding-bottom: 7px;
            }
          }
        }
        .favorite-actions, .playlist-actions {
          float: left;
          width: 10%;
          .track-delete {
            color: #ccc;
            cursor: pointer;
            float: right;
            font-size: 15px;
            margin-top: 4px;
            &:hover {
              color: #888;
            }
          }
        }
      }
    }
  }

  #new-playlist {
    display: none;
  }
  #new-playlist.show {
    display: block;
  }
  #genre-wrapper {
    border-top: 2px solid;
    bottom: 7px;
    position: absolute;
    &:after {
      content: "tags";
      left: 7px;
      position: absolute;
      top: -22px;
    }
    #genre-wrapper-scroll {
      max-height: 160px;
      overflow: scroll;
      button {
        border: none;
        background: #333;
        color: #555;
        border-radius: 2px;
        margin: 4px 0px 0px 7px;
        max-width: 100px;
        &:hover {
          background: #222;
        }
      }
    }
  }
  #search-wrapper.close {
    display: none;
  }
  #search-wrapper {
    background-color: #eee;
    border-bottom-right-radius: 10px;
    left: 110px;
    top: 110px;
    position: absolute;
    width: 400px;
    height: 76px;
    .search {
      input#search-input {
        float: left;
        margin: 15px 0px 0px 26px;
        height: 40px;
        padding: 0px 5px;
        width: 260px;
      }
      button {
        background-color: #444;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: #ddd;
        height: 40px;
        margin: 15px 0px;
      }
    }
    .search-close-button {
      color: #666;
      cursor: pointer;
      font-size: 25px;
      position: absolute;
      right: 10px;
    }
  }
}
