#tracklist-wrapper {
  float: right;
  margin-top: 140px;
  width: 90%;
  .track {
    margin-bottom: 15px;
    position: relative;
    .track-info {
      p.title {
        color: #ddd;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        margin: 2px 0px 0px;
      }
      p.author {
        color: #eee;
        line-height: 10px;
      }
    }
  }
}
