.track.remove_track {
  display: none;
}
.track {
  img {
    width: 100%;
  }
  img._active-track {
    outline: 2px solid #333;
  }
  p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
  }
}

#tracklist {
    .track-delete {
      display: none;
    }
}
