#tracklist-wrapper {
  float: right;
  margin-top: 140px;
  width: 90%;
  .track {
    margin-bottom: 15px;
    position: relative;
    .track-info {
      p.title {
        color: #777;
        font-size: 12px;
        margin: 2px 0px 0px
      }
      p.author {
        color: #666;
        line-height: 10px;
      }
    }
  }
}
